<h4>Requests from Friends</h4>

<% if @requests_from_friends.count == 0 %>
<p>No requests at the moment!</p>
<% else %>

<div class="add-margin-top">
  <div class="container is-small">

    <div class="row">
      <% @requests_from_friends.each do |loan| %>

      <div class="col-xs-12">

        <div class="product-with-buttons-box">
          <div class="product no-border-bottom">
            <%= image_tag loan.user.profile.profile_picture, class: "product-image" %>
            <div class='product-body '>
              <% language = " - #{loan.book.language}" unless loan.book.language.empty? %>
              <h3><%= loan.user.profile.first_name %> wants to borrow <em><%= loan.book.title[0..60] %></em>!</h3>
              <p>by <%= loan.book.author %> <%= language %></p>
              <p><%= loan.status.capitalize %>: <%= loan.last_action.strftime('%d/%m/%Y') %></p>
            </div>
          </div>

          <div class="product-button-holder">
            <%= link_to "Mark as Given", lend_book_path(loan), {class: "btn btn-primary btn-half-width", :method => :patch} %>
            <%= link_to "Reject Loan", reject_loan_path(loan), {class: "btn btn-default btn-half-width", :method => :patch} %>
          </div>
        </div>

      </div>

      <% end %>
    </div>

  </div>
</div>



<% end %>




