<h4>Shared books</h4>

<% if @shared.count == 0 %>
  <p>You don't have any shared books right now!</p>
<% else %>

  <div class="add-margin-top">
    <div class="container is-small">

    <div class="row">
      <% @shared.each do |loan| %>

      <div class="col-xs-12">

        <div class="product-with-buttons-box">
          <div class="product no-border-bottom">
            <% image = loan.borrower_name_manual.nil? ? loan.user.profile.profile_picture : "profilepic_4.jpg" %>
            <%= image_tag image, class: "product-image" %>
            <div class='product-body '>
              <% language = " - #{loan.book.language}" unless loan.book.language.empty? %>
              <% title = loan.book.title.length > 60 ? "#{loan.book.title[0..60]}..." : loan.book.title %>
              <% name = loan.borrower_name_manual.empty? ? loan.user.profile.first_name : loan.borrower_name_manual %>
              <h3><%= name %> has <em><%= title %></em>!</h3>
              <p>by <%= loan.book.author %> <%= language %></p>
              <p><%= loan.status.capitalize %>: <%= loan.last_action.strftime('%d/%m/%Y') %></p>
            </div>
          </div>

          <div class="product-button-holder">
            <%= link_to "Mark Returned", return_book_path(loan), {class: "btn btn-primary btn-half-width", :method => :patch} %>
          </div>
        </div>

      </div>

      <% end %>
    </div>

    </div>
  </div>

<% end %>

