<div class="add-margin-top">
    <div class="container is-small">
      <div class="row">
        <% @books.each do |book| %>

        <%= link_to book_path(book.id) do %>

          <div class="product">

            <div class='product-upvote'>
            </div>
            <% if book.photo %>
            <% profile_image_path = book.google_cover %>
            <% else %>
            <% profile_image_path = book.google_cover %>
            <% end %>
            <%= image_tag profile_image_path %>
            <img =@book.user.profile.profile_picture class="product-image">
            <div class='product-body'>
              <h3><em><%= book.title %></em> is available</h3>
              <p>by <%= book.author %> - <%= book.language %></p>
            </div>
          </div>

        <% end %>
        <% end %>
      </div>
    </div>
  </div>
