<div class="add-margin-top">
    <div class="container is-small">
      <div class="row">
        <% @books.each do |book| %>

        <%= link_to book_path(book.id) do %>

          <div class="product">

            <div class='product-upvote'>
            </div>

            <% if book.photo.url %>
              <% profile_image_path = book.photo %>
            <% elsif book.google_cover %>
              <% profile_image_path = book.google_cover %>
            <% else %>
              <% profile_image_path = "book5.png" %>
            <% end %>

            <%= image_tag profile_image_path %>
            <div class='product-body'>
              <h3><em><%= book.title[0..60] %></em> is available</h3>
              <p>by <%= book.author %> - <%= book.language %></p>
              <div>
                <%= link_to "Lend", new_book_loan_path(book), { class: "btn btn-primary" } %>
              </div>
            </div>

          </div>

      <% end %>

      <% end %>

    </div>
  </div>
</div>
