<h4>Books you've borrowed</h4>
  <% if @current_user.books.count == 0 %>
<p>You don't have any books in your library! You can add books from the Share option
located in the bar at the top of the screen.</p>
<% else %>

  <div class="add-margin-top">
    <div class="container is-small">

    <div class="row">
      <% @books.each do |book| %>

      <% if book.photo.url %>
        <% book_image_path = book.photo %>
      <% elsif book.google_cover %>
        <% book_image_path = book.google_cover %>
      <% else %>
        <% book_image_path = "book5.png" %>
      <% end %>

      <div class="col-xs-12">

        <div class="product-with-buttons-box">
          <div class="product no-border-bottom">
            <%= image_tag book_image_path, class: "product-image" %>
            <div class='product-body '>
              <% language = " - #{book.language}" unless book.language.empty? %>
              <h3><em><%= book.title[0..60] %></em></h3>
              <p>by <%= book.author %> <%= language %></p>
            </div>
          </div>

          <div class="product-button-holder">
            <%= link_to "Lend", new_book_loan_path(book), {class: "btn btn-primary btn-half-width"} %>
          </div>
        </div>

      </div>

      <% end %>
    </div>

    </div>
  </div>

<% end %>
