<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo2.png" %>
  <% end %>


  <!-- Right Navigation -->


    <!-- Different navigation if login or not -->

    <% if user_signed_in? %>
    <div class="navbar-wagon-right">
      <% notification_count = Loan.user_action(current_user.id).count %>
      <% notification_link = notification_count > 0 ? library_path(current_user) : "#" %>

      <!-- Notification -->


      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">

          <div class="badge-container">
          <%= link_to library_path do %>
            <%= image_tag current_user.profile.profile_picture, class: "avatar" %>
          <% end %>
            <div class="badge badge-blue"><%= notification_count %></div>
          </div>

      </div>

      <div class="navbar-wagon-item">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      </div>

    </div>


    <% else %>

    <!-- Login text link -->
    <%= link_to t(".sign_in", default: "Login"), user_omniauth_authorize_path(:facebook), class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>




  <!-- Dropdown list appearing on mobile only -->
<!-- <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to "Logout", destroy_user_session_path, class: "z-top-top", method: :delete %>
        </li>
      </ul>
    </div>
  </div> -->

</div>


