<div class="wrapper-content">
  <div class="container">
    <div class="row">
      <% @books.first(20).each do |book| %>

      <%= link_to books_path(title: book.title, author: book.authors, isbn: book.isbn,
      language: book.language, google_cover: book.image_link), method: :post do %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="product">
          <div class="google-pic">

            <% if book.image_link %>
              <% profile_image_path = book.image_link %>
            <% else %>
              <% profile_image_path = "book5.png" %>
            <% end %>
            <%= image_tag profile_image_path %>
          </div>
          <div class='product-body'>
          <h3><%= book.title[0..60] %> </h3>
            <p>by <%= book.authors %> - <%= book.language %></p>
            <p>ISBN : <%= book.isbn %></p>
          </div>


        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="tabs-profile is-sticky">

  <%= link_to books_sharebook_path, class: "tabs-ind-2" do %>
    <span>Search Again</span>
  <% end %>

   <%= link_to new_book_path, class: "tabs-ind-2" do %>
    <span>Add Manually</span>
  <% end %>
</div>


