<% content_for :title do %>
PowOSh
<% end %>

<div class="wrapper-content">

  <div class="container add-margin-top text-center">
    <h3>Latest additions!</h3>
  </div>

  <div class="add-margin-top">
    <div class="container is-small">
      <div class="row">
        <% @books.last(10).reverse.each do |book| %>

        <%= link_to book_path(book.id) do %>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="product">
            <div class="card-image-edit">
            <% profile_image_path = book.user.profile.profile_picture %>
            <%= image_tag profile_image_path %>
            </div>
            <div class='product-body'>
              <% title = book.title.length > 50 ? "#{book.title[0..50]}..." : book.title %>
              <h3><%= book.user.profile.first_name %> made <em><%= title %></em> available!</h3>
              <p>by <%= book.author %> - <%= book.language %></p>
            </div>
          </div>
          </div>

        <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>




<!--
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div> -->

<!--
-webkit-linear-gradient(to bottom, #E3CBB8 0%, #FFFFFF 29%)
-->

