<div class="wrapper-content">
  <div class="container">
    <div class="form-edit">
      <%= simple_form_for @book, :url => {:controller => 'books', :action => 'update'}, :method => :put do |f| %>
      <%= f.error_notification %>
      <%= f.label :my_description, 'Why do you want to share this book?' %>
      <%= f.input :my_description, label: false, placeholder:"I love that book because..." %>
      <%= f.label :language, 'Confirm Language' %>
      <%= f.input :language, label: false, collection: Book::LANGUAGES,  placeholder:"Français" %>
      <%= f.label :photo, 'Upload your own picture' %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>

      <%= f.submit 'Add your book' %>
      <% end %>

    </div>
  </div>
</div>

