<% content_for :title do %>
<%= @book.title %> on PowOSh
<% end %>
<div class="wrapper-content">
<div class='book-container'>
  <div id="wrapper">
    <!-- BOOK -->
    <div class="book">
      <div class="book-cover">
        <h1 class="title"><%= @book.title %></h1>
        <!--     <h2 class="subtitle">this is the Book Subitle</h2> -->
        <h5 class="author"><span> écrit par</span> <%= @book.author %> </h5>
      </div>
      <div class="book-top"></div>
      <div class="book-right"></div>
    </div>
    <!-- /BOOK -->
  </div>
</div>

<!-- TEST OF LINK TO EDIT. REPLACE!-->
<% if policy(@book).update? %>
  <%= link_to "Edit Book", edit_book_path(@book) %>
<% end %>
<!--
////////////////////////////////////////////////////////////
Following appears if current user is different from Book owner
///////////////////////////////////////////////////////////////
-->
<% if current_user.id != @user.id %>

  <div class="container">
    <div class="product">

      <% profile_image_path = @book.user.profile.profile_picture %>
      <%= image_tag profile_image_path %>
      <img =@book.user.profile.profile_picture class="product-image">
      <div class='product-body'>
        <h3><%= @book.user.profile.first_name %> can lend it to you!</h3>
      </div>
        <div class="text-center add-margin product-controls">
        <%= link_to "I want it!", request_book_path(@book),
        {class: "btn btn-primary", :method => :post} %>
        </div>
    </div>
  </div>

<% elsif  @book.my_description %>
  <div class="container">
    <h3>Ce que j'en pense</h3>
    <p><%= @book.my_description %></p>
  </div>
<% else%>

<% end%>

</div>



