<% content_for :title do %>
  <%= current_user.profile.first_name%>'s Library - PowOSh
<% end %>

<div class="library-page">
  <div class="wrapper-no-padding-bottom header-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">

          <div class="library-header">

            <h3>Library</h3>

            <ul class="nav nav-pills text-center" id="library-tabs" role="tablist">
              <li role="presentation" class="active tab-xs-quarter"><a href="#todo" aria-controls="home" role="tab" data-toggle="tab">Requests</a></li>
              <li role="presentation" class="tab-xs-quarter"><a href="#shared" aria-controls="home" role="tab" data-toggle="tab">Shared</a></li>
              <li role="presentation" class="tab-xs-quarter"><a href="#borrowed" aria-controls="profile" role="tab" data-toggle="tab">Borrowed</a></li>
              <li role="presentation" class="tab-xs-quarter"><a href="#library" aria-controls="profile" role="tab" data-toggle="tab">Library</a></li>
            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="tab-content ">


          <div role="tabpanel" class="tab-pane active" id="todo">
            <%= render 'shared/loans_requests_friends' %>
            <%= render 'shared/loans_requests_mine' %>
          </div>


          <div role="tabpanel" class="tab-pane" id="shared">
            <%= render 'shared/loans_shared' %>
          </div>

          <div role="tabpanel" class="tab-pane" id="borrowed">
            <%= render 'shared/loans_borrowed' %>
          </div>

          <div role="tabpanel" class="tab-pane" id="library">
            <% @books.each do |book| %>
              <%= book.title %>
            <% end %>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

